*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgba(250, 232, 199, 0.631);
}
.menu-chapitre-div2{
    width: 90%;
    
}
.menu-chapitres{
    
    width: 80%;
    margin: 0 auto;
  
}

.menu-chapitres li{
    padding: 10px;
    color : black    
}

.menu-chapitres a{
    text-decoration: none;
   
}

.menu-chapitres li:hover{
   color: rgb(158, 23, 68);
   font-size: 1.1em
   
}

.menu-chapitres-div{
    border: 1px solid black;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
   
  height: 35vh;
    
}
.head{
   
    overflow: hidden;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    background-color: white;

}

.sous-titre2{
    margin-bottom: 10px;
    font-size: 1.2em;
    margin-left: 20px;
}

.sous-titre3{
    font-size: 1.2em;
    font-weight: bold;
}
.accroche-chapitre{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
   
}

.cadres{
    list-style: none;
}

.cadreVert{
    background-color: rgba(178, 235, 178, 0.309);
    padding: 15px;
}

.cadreOrange{
    background-color: rgba(255, 166, 0, 0.22);
    padding: 15px;
}

.cadreGris{
    background-color: lightgray;
    padding: 15px;
}
.lien-precedant{
    text-decoration: none;
    color:  rgb(158, 23, 68)
}
.lien-precedant:hover{
    text-decoration: underline;
}

.menu-chapitre ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* margin-top: 10px; */
    background-color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}



.menu-chapitre li{
    padding: 5px;
    list-style: none;
}
.menu-chapitre a{
    text-decoration: none;
    color: black;
}

.menu-chapitre a:hover{
    background-color: lightgrey;
    color: black;
}
.contenu{
    width: 90%;
    margin: 10vh auto 0 auto;
}

.container-chapitre{
  background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
    border : 1px solid black;
}

.titre-chapitre{
    margin-bottom: 20px ;
    text-align: center;
}

.boite-image{
    display: block;
    margin: 0 auto;
}

.imgTuto{
    display: block;
  width: 99%;
    margin: 10px auto 10px auto;
}

.imgTuto2{
    width: 100%;
    margin :20px 0
}

.imgTuto3{
    width: 100;
    margin :20px 0
}

.description-chapitre{
    text-align: justify;
}
.rouge{
    color: red;
    font-weight: 600;
}
.commentaire{
    color: green;
   font-style: italic;
  
}

button{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width : 50%
}

.fleche{
    height: 2vh;
    margin-left: 10px;
}
.fleche-precedent{
    margin-right: 10px;
    height: 2vh;
}



.next{
    text-decoration: none;
}
footer{
    height: 5vh;
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    padding-top: 10px;

}
.vert{
    color: rgb(108, 165, 22);
    
}

.niveau2{
    margin-left: 15px;
}

.niveau3{
    margin-left: 30px;
}

.niveau4{
    margin-left: 45px;
}

.container-inline{
    width: 90%;
    margin : 0 auto 15px auto;
    border: 2px dashed black;
    padding: 15px;
    border-radius: 7px;
    background-color: white;
}


.exemple-div{
    background-color: pink;
    border:1px solid black;
    text-align: center;
}
@media only screen and (min-width : 1200px){
  
    .contenu{
        width: 80%;
        

    }
    .accroche-chapitre{
        font-size: 3em;
    }
    .navigation{
        display: flex;
        justify-content: center;

        
    }
    button{
        width: 20%;
    }
    .button2{
        width: 100%;
      
    }
}

@media only screen and (min-width : 1800px){
    .contenu{
        width: 60%;
    }

    .imgTuto2{
       width: 70%; 
    }

    .imgTuto3{
        width: 30%; 
     }
 
     .menu-chapitres-div{
         width: 50%;
         margin: 50px auto;
     }
   
     .menu-chapitres-div2{
        width: 80%;
        margin: 50px auto;
    }

}