
.book-mini{
    width:50%;
    margin-left: 50px;
    margin-bottom: 10px;
}
.book-mini:hover{
   transform: rotate(-10deg);
   opacity: 0.8;
}

.menu-langage-burger{
    display: none;
   

}

.images-menu-langage{
    display: flex;
    justify-content: space-between;
    background-color: white;
   
}

@media only screen and (min-width : 1800px){
    .book-mini{
        width: 90%
    };
}
