.contenu{
    width: 90%;
    margin: 0 auto;
}

h2{
    font-size: 1.2em;
  
    text-align: center;
}


.container{
   border: 4px double rgb(158, 23, 68);
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 50px;
    position : relative;
}

.container::before{
    position: absolute;
    top: 2%;
    left: 91%;
    border: 2px solid rgb(158, 23, 68);
    padding: 5px 10px  5px 10px;
    border-radius: 100%;
    font-weight: 600;
    color: rgb(158, 23, 68);
}

.container1::before{
    content:"1";  
}

.container2::before{
    content:"2";
}

.container3::before{
    content:"3";
}

.container4::before{
    content:"4";
}

.container5::before{
    content:"5";
}

.container6::before{
    content:"6";
}
.text_descriptif{
color: rgb(121, 120, 120);

}

.commentaire {
    color:rgb(158, 23, 68);
}

.imgTuto{
    width: 100%;
}

.dossierImg{
    display: flex;
    flex-wrap: wrap;
  
  
}

.block{
    display: flex;
    align-items: center;
    
}

.text_tuto{
    margin-left: 50px;
}

.rouge{
    color: red;
}

.separation{
    width: 20%;
    margin-inline-start: 0px;
    margin-bottom: 10px;
    border : 2px solid #ba1159
}

.boiteImage{
  
    width: 24%;
    margin: auto;
}

.menu {
    padding: 10px;
    position: fixed;
    top: 250px;
    width: 60%;


}

.menu ul{
    display: block;
}

.menu li{
    padding: 10px;
    list-style-type: circle;
    margin-left: 50px;
    color:black

}

a{
    color:#ba1159;
    text-decoration: none;
}