:root{
    --organisation-book-color: #B05A2F;
    --background-page : #fff;
    --couleur-commentaire : rgb(158, 23, 68);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    height: 100vh;
    overflow: hidden;
    position: relative;
 
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 7px;
}
.imgTuto{
    width: 90%;
    margin-bottom: 1em;
}
h2,h3{
    font-family: 'Balsamiq Sans', cursive;
}

h2{
    text-align: center;
    margin-bottom: 1em;
    padding-top: 1em;
}

h3{
   padding : 1em;
}

.commentaire{
    color : var(--couleur-commentaire)
}

a, p{
 padding-left : 2%;
 padding-bottom: 4%;
 font-family: 'Quicksand', sans-serif;

}

a{
    text-decoration: none;
}

a:hover{
    color : rgb(158, 23, 68);
    font-size: 1.1em;
}
.livres{

width: 24%;
cursor: pointer;

}
.livre-ouvert{
   width: 26%;
    z-index: 999;
}
.livres-html{
    
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 80%;
margin:0 auto;

}

.etagere-html{
    background-color: brown;
    margin: 0 auto;
    width: 80%;
    padding: 15px;
   
}

.etagere-html p {
    background-color: white;
    width: 30%;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;

}


section{
    position: absolute;
    width: 95%;
    background-color: var(--organisation-book-color);
    height: 90vh;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 7px;
    display: none;


}

.close{
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 1%;
    font-size: 20px;
}

.close:hover{
    color: white;
    cursor: pointer;
}
.container{
background-color: rgb(253, 241, 244);
width: 90%;
height: 80vh;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none;

}
.tourne-vertical{
    animation-duration: 0.8s;
    animation-name: tourne;
}

.active{display: block;}



.lala{
    position: relative;
    height:100%;
    overflow: auto;
}
   

.preview{
     position: absolute;
     left: 1.5%;
     bottom: -4%;
     width: 3%;
}

.next{
    position: absolute;
    right: 1.5%;
    bottom: -4%;
    width: 3%;
}

/*scroll  bar*/
::-webkit-scrollbar{
    width: 0px;
    
}
.lala::-webkit-scrollbar{
    width: 4px;
    
    
}
.lala::-webkit-scrollbar-track{
    border: 2px solid white;
    
    
    
}

.lala::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(214,38,38,1) 0%, rgba(221,9,98,1) 35%, rgba(246,210,229,1) 100%);
    border-radius: 7%;
}
.page-rotate{
   
    /* background-color: red;
   transform: rotateY(-180deg);
   transition: transform 3s ease-in-out; */
}

 @keyframes tourne {
    from {opacity: 0;}
    to{opacity: 1;}
 }

@media only screen and (min-width: 750px){
    .lala{
        display: flex;
        height: 100%;
        padding-left: 5%; 
     
    }
    .gauche{
        border-right: 1px solid black;
        width: 50%;
        height: 100%;
        
        
    }

    .droite{
        position: relative;
        width: 50%;
        height: 100%;
        
        }

    .livre-ouvert{
        width: 24%;
        height: 20vh;

       
    
    }
  
    .next, .preview{
        width: 2%;
        bottom: -5%;
    }
 
    .livres{
       height: 20vh;

       
  
}
}