*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    height: 100vh;
    overflow: hidden;
    position: relative;
 
}

.livres{
position: relative;
width: 24%;
cursor: pointer;
}
.livre-ouvert{
   position: absolute;
    z-index: 999;
    width: 50%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.livres-html{
    
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 80%;
margin:0 auto;

}

.etagere-html{
    background-color: brown;
    margin: 0 auto;
    width: 80%;
  
    padding: 15px;
   
}

.etagere-html p {
    background-color: white;
    width: 30%;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;

}


section{
    position: absolute;
    width: 95%;
    background-color: brown;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 7px;
    display: none;


}

.close{
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 1%;
    font-size: 20px;
}

.close:hover{
    color: white;
    cursor: pointer;
}
.container{
background-color: rgb(253, 241, 244);
width: 90%;
height: 80vh;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none;

}
.tourne-vertical{
    animation-duration: 0.8s;
    animation-name: tourne;
}

.active{
    display: block;
    transform-style: preserve-3d;
  

}



.lala{
    position: relative;
    height:100%;
    
  
}


a:target{
    color: green;
   
  
    

}
   

 

.next{
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-rotate{
   
    /* background-color: red;
   transform: rotateY(-180deg);
   transition: transform 3s ease-in-out; */
}

 @keyframes tourne {
    from {opacity: 0;}
    to{opacity: 1;}
 }

@media only screen and (min-width: 750px){
    .lala{
        display: flex;
        height: 100%;
        padding-left: 5%; 
     
    }
    .gauche{
        border-right: 1px solid black;
        width: 50%;
        height: 100%;
        
        
    }

    .droite{
        position: relative;
        width: 50%;
        height: 100%;
        
        }

    .livre-ouvert{
       
        /* top: 20%;
        left: 75%; */
        width: 24%;
        height: 20vh;
        position:static;
        transform: translate(0,0);
       
    
    }
 
    .livres{
       height: 20vh;
       position: static;
       
    }
    
}